{% block htmlHead %}
<style>
/* css */
</style>
{% endblock %}

{% extends 'template/jhTemplateV4.html'%}
{% block vueTemplate %}
<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-13"> 
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row class="align-center" dense>
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="py-4 text-body-1 font-weight-bold d-flex align-center">通知管理 
            <!-- 帮助页按钮 -->
            <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
              <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
            </span>
          </div>
        </v-col>
        <v-col cols="12" xs="12" sm="12" md="8" xl="9">
          <v-row class="jh-backend-form-container justify-end ma-0 py-3"> 
            <v-col cols="12" xs="6" sm="4" md="3" xl="2" class="pa-0 pr-0 pl-md-2 ">
              <v-select prefix="通知类型" :items="constantObj.taskType" class="jh-v-input" dense single-line filled v-model="serverSearchWhereLike.taskType"></v-select>
            </v-col> 
            <v-col cols="12" xs="6" sm="4" md="3" xl="2" class="pa-0 pr-0 pl-md-2 pt-2 pt-sm-0">
              <v-select prefix="读取状态" :items="constantObj.taskReadStatus" class="jh-v-input" dense single-line filled v-model="serverSearchWhereLike.taskReadStatus"></v-select>
            </v-col>
            <div class="jh-backend-search-btn ml-2">
              <v-btn class="elevation-0 float-right mt-2 mt-md-0" color="success" small @click="doUiAction('getTableData')">
                查询
              </v-btn>
            </div>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <!-- 页面内容 >>>>>>>>>>>>> -->
    <div class="jh-page-body-container px-8">
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">
          <!-- 新增按钮 -->
          <v-col cols="12" xs="8" sm="8" md="9" xl="10" class="pa-0">
            <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
            <v-menu :nudge-width="100" :offset-y="true">
              
          <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary"
                small
                outlined
                v-bind="attrs"
                v-on="on"
              >
                更多
                <v-icon size="14">
                  mdi-chevron-down
                </v-icon>
              </v-btn>
          </template>
          <v-card style="max-height: 300px;">
            <v-list>
              <v-list-item @click="doUiAction('updateAllTaskReadStatus')">全部标记为已读</v-list-item>
              <v-list-item @click="doUiAction('deleteAllTask')">删除全部已读信息</v-list-item>
            </v-list>
          </v-card>
        
            </v-menu>
          </v-col>
          <v-spacer></v-spacer>
          <!-- 搜索过滤 -->
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <!-- 表格 -->
        <v-data-table
          :headers="headers"
          :items="tableData"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 50, 200, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
          :items-per-page="-1"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          checkbox-color="success"
          :class="{'zebraLine': true }"
          fixed-header
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4"
        >
            
          <!-- 表格操作按钮 -->
          <template v-slot:item.action="{ item }">

            <template>
              <!-- pc端 -->
              <template v-if="!isMobile">
                <span role="button" class="error--text font-weight-medium font-size-2" @click="doUiAction('deleteItem', item)">
                  <v-icon size="16" class="error--text">mdi-trash-can-outline</v-icon>删除
                </span>
              </template>
              <!-- 手机端 -->
              <v-menu offset-y v-if="isMobile">
                <template v-slot:activator="{ on, attrs }">
                  <span role="button" class="success--text font-weight-medium font-size-2"
                    v-bind="attrs" v-on="on">
                    操作<v-icon size="14" class="success--text">mdi-chevron-down</v-icon>
                  </span>
                </template>
                <v-list dense>
                  <v-list-item @click="doUiAction('deleteItem', item)">
                    <v-list-item-title>删除</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>
          </template>
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
    </div>
    <!-- <<<<<<<<<<<<< 页面内容 --> 
    <!-- 新增抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isCreateDrawerShown" v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <v-form ref="createForm" lazy-validation>
        <!-- 抽屉标题 -->
        <v-row no-gutters>
          <span class="text-h7 font-weight-bold pa-4">新增信息</span>
        </v-row>
        <v-divider class="jh-divider"></v-divider>
        <v-row class="mt-0 px-4">
          <v-col cols="12" sm="12" md="4"class="d-none">
            <span class="jh-input-label">通知Id</span> 
            
          </v-col>
          <v-col cols="12" sm="12" md="4"class="d-none"> 
            
          </v-col>
          <v-col cols="12" sm="12" md="4"class="d-none"> 
            
          </v-col>
          <v-col cols="12" sm="12" md="4"class="d-none"> 
            
          </v-col>
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label"><span class="red--text text--accent-2 ml-1">* </span>公告名称</span> 
            <v-text-field class="jh-v-input" dense single-line filled v-model="createItem.taskTitle" :rules="validationRules.requireRules"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label"><span class="red--text text--accent-2 ml-1">* </span>通知范围</span> 
            <v-select :items="memberList" item-text="username" item-value="userId" class="jh-v-input" dense single-line filled v-model="createItem.taskMemberIdList" :rules="validationRules.requireRules"></v-select>
          </v-col>
          <v-col cols="12" sm="12" md="12">
            <span class="jh-input-label"><span class="red--text text--accent-2 ml-1">* </span>公告内容</span> 
            <v-textarea class="jh-v-input" dense single-line filled v-model="createItem.taskContent" :rules="validationRules.requireRules"></v-textarea>
          </v-col>
        </v-row>
        <!-- 抽屉操作按钮 -->
        <v-row class="justify-end mx-0 my-8 px-4">
            <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
            <v-btn class="elevation-0 ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
        </v-row>
      </v-form>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 新增抽屉 -->

    <!-- 帮助页抽屉 >>>>>>>>>>>>> --> 
    <v-navigation-drawer v-if="isHelpPageDrawerLoaded" v-model="isHelpPageDrawerShown" :permanent="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#noticeManagement.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
          <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>
<div id="app"></div>
{% endblock %}

{% block vueScript %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include "common/constant.html" %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // ================================ common ================================ 
    isMobile: window.innerWidth < 500, 
    constantObj: window.constantObj, 
    validationRules: {
      requireRules: [
        (v) => !!v || '必填'
      ]
    },
    // ================================ headContent ================================
    serverSearchWhere: {
      taskType: "通知"
    },
    serverSearchWhereLike: {
      taskManagerId: "<$ ctx.userInfo.userId $>",
      taskMemberIdList: null,
      taskReadStatus: "否",
      taskType: null
    },
    isHelpPageDrawerShown: false,
    isHelpPageDrawerLoaded: false,
    // ================================ pageContent ================================
    headers: [
      { text: "通知名称", value: "taskTitle", width: 120 },
      { text: "通知描述", value: "taskDesc", width: 200 },
      { text: "创建时间", value: "taskCreateAt", width: 250 },
      { text: "操作", value: "action", width: 150 },
    ],
    tableData: [],
    isTableLoading: true,
    searchInput: null,
    // ================================ createDrawerContent ================================
    isCreateDrawerShown: false,
    createItem: {},
    createActionData: {},
    // ================================ deleteContent ================================
    deleteItem: {},
    deleteItemId: null,

    // ================================ 其他抽屉列表 ================================
  }),
  watch: {
    isHelpPageDrawerShown(val) {
      if (val && !this.isHelpPageDrawerLoaded) {
        this.isHelpPageDrawerLoaded = true;
      }
    },
  },
  computed: {},

  created() {
    this.doUiAction('getTableData');
    this.doUiAction('getUserList');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      try {
        switch (uiActionId) { 
          case 'getUserList': 
            await this.getUserList(uiActionData);
            break; 
          case 'updateAllTaskReadStatus': 
            await this.updateAllTaskReadStatus(uiActionData); 
            await this.getTableData(uiActionData);
            break; 
          case 'deleteAllTask': 
            await this.confirmDeleteDialog(uiActionData); 
            await this.deleteAllTask(uiActionData); 
            await this.getTableData(uiActionData);
            break;
          case 'getTableData':
            await this.getTableData();
            break;
          case 'startCreateItem':
            await this.prepareCreateFormData();
            await this.openCreateDrawer();
            break;
          case 'createItem':
            await this.prepareCreateValidate();
            await this.confirmCreateItemDialog();
            await this.prepareDoCreateItem();
            await this.doCreateItem();
            await this.closeCreateDrawer();
            await this.getTableData();
            break;
          case 'deleteItem':
            await this.prepareDeleteFormData(uiActionData);
            await this.confirmDeleteItemDialog();
            await this.prepareDoDeleteItem();
            await this.doDeleteItem();
            await this.clearDeleteItem();
            await this.getTableData();
            break;


          default:
            console.error("[doUiAction] uiActionId not find", {uiActionId});
            break;
        }
      } catch (error) {
        throw error;
      } finally {
        window.jhMask && window.jhMask.hide();
      }
    },
    // ---------- 获取表格数据 uiAction >>>>>>>>>> --------
    async getTableData() {
      this.isTableLoading = true;
      const where = {};
      const whereLike = {};
      for (const fieldKey in this.serverSearchWhere) {
        const fieldValue = this.serverSearchWhere[fieldKey];
        if(!!fieldValue && fieldValue != '全部') {
          where[fieldKey] = fieldValue;
        }
      }
      for (const fieldKey in this.serverSearchWhereLike) {
        const fieldValue = this.serverSearchWhereLike[fieldKey];
        if(!!fieldValue && fieldValue != '全部') {
          whereLike[fieldKey] = fieldValue;
        }
      }

      const rows = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'noticeManagement',
            actionId: 'selectItemList',
            actionData: {},
            where,
            whereLike,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      })).data.appData.resultData.rows;
      this.tableData = this.formatTableData(rows);
      this.isTableLoading = false;
    },
    formatTableData(rows) {
      rows.forEach(row => {
        row.operationAt = row.operationAt ? dayjs(row.operationAt).format('YYYY-MM-DD HH:mm:ss') : '';
      });
      return rows;
    },
    // ---------- <<<<<<<<<<< 获取表格数据 uiAction ---------
    // ---------- 新增数据 uiAction >>>>>>>>>> --------
    async prepareCreateFormData() {
      this.createItem = { 
        taskType: '通知', 
        taskCreateAt: dayjs().format('YYYY-MM-DD hh:mm:ss'), 
        taskManagerId: window.userInfo.userId,
      };
    },
    async openCreateDrawer() {
      this.isCreateDrawerShown = true;
    },
    async prepareCreateValidate() {
      if (await this.$refs.createForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },
    prepareDoCreateItem() {
      const {id, ...data} = this.createItem;
      this.createActionData = {
        taskId: data.taskId,
        taskType: data.taskType,
        taskCreateAt: data.taskCreateAt,
        taskManagerId: data.taskManagerId,
        taskTitle: data.taskTitle,
        taskMemberIdList: data.taskMemberIdList,
        taskContent: data.taskContent,
      };
    },
    async doCreateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'noticeManagement',
            actionId: 'insertItem',
            bizIdGenerate: {
              type: "idSequence",
              prefix: "TZ",
              bizId: "taskId",
              tableName: "task",
              startValue: 10001,
            },
            actionData: this.createActionData
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("新增数据成功");
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShown = false;
      this.createItem = {};
      this.createActionData = null;
    },
    // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
    // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
    async prepareDeleteFormData(funObj) {
      this.deleteItem = _.cloneDeep(funObj);
    },
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("[confirmDeleteItemDialog] 否");
      }
    },
    async prepareDoDeleteItem() {
      const {id} = this.deleteItem;
      this.deleteItemId = id;
    },
    async doDeleteItem() {
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'noticeManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: {id: this.deleteItemId}
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
    async clearDeleteItem() {
      this.deleteItem = {};
      this.deleteItemId = null;
    },
    // ---------- <<<<<<<<<<< 删除数据 uiAction --------- 
    // ---------- Custom uiAction >>>>>>>>>>>> -------- 
    async getUserList() {
      const rows = (
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagement',
              actionId: 'getUserList',
              actionData: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }],
            },
          },
        })
      ).data.appData.resultData.rows;
      this.memberList = rows;
    }, 
    async updateAllTaskReadStatus() {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'noticeManagement',
            actionId: 'updateAllNotReadNotice',
            actionData: {},
          },
        },
      });
    }, 
    async deleteAllTask() {
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'noticeManagement',
            actionId: 'deleteAllReadNotice',
          },
        },
      });
      await window.vtoast.success('删除全部已读通知成功');
    }, 
    async confirmDeleteDialog() {
      if (
        (await window.confirmDialog({
          title: '删除',
          content: '确定删除吗？',
        })) === false
      ) {
        throw new Error('[confirmCreateFormDialog] 否');
      }
    },
    // ---------- <<<<<<<<<<< Custom uiAction ---------
  }
})
</script>

<style scoped>
</style>{% endblock %}
